.red-text {
  color: var(--red);
}

.green-text {
  color: var(--green);
}

.yellow-text {
  color: var(--yellow);
}

.red-highlight {
  background-color: var(--red-highlight);
}

.green-highlight {
  background-color: var(--green-highlight);
}

.yellow-highlight {
  background-color: var(--yellow-highlight);
}
