.wrapper {
  background: none !important;
}

.content-wrapper {
  background: var(--white);
  color: var(--black-text);
  height: 90vh;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  padding: 0;

  .dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .reactable {
    background: transparent;
  }

  .rt-search {
    width: 80%;
    margin: 10px 10px 20px;
    align-self: center;
    text-align: center;
    border-radius: 0;
  }

  .rt-tr-header {
    display: none !important;
  }

  .rt-tr {
    align-items: center;
  }

  .rt-tr-selected {
    background: var(--selected-row);
  }

  .app-table {
    width: 30%;
    height: 100%;
    overflow-y: auto;
  }

  .job-list {
    width: 15%;
    height: 100%;
    overflow-y: auto;
  }

  .logs {
    background: var(--white);
    width: 55%;
    height: 100%;
    overflow-y: auto;
  }
}
