.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;

  .header-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .left {
    img {
      width: 200px;
    }

    h2 {
      margin: 0;
      margin-bottom: 5px;
      margin-left: 20px;
    }

    .vertical-line {
      height: 50px;
    }
  }

  .right {
    .cta-button {
      background: var(--primary);
      color: white;
      padding: 10px;
      border-radius: 10px;
      margin: 0 10px;
    }
  }
}
