@import "colors";

.logs {
  .rt-td-inner {
    padding: 0 !important;
  }

  .rt-search {
    width: 85% !important;
    align-self: flex-start !important;
  }

  > div {
    text-align: center;

    .empty-state-container {
      margin-top: 150px;

      .empty-state-image {
        width: 50%;
      }

      .empty-state-text {
        color: var(--grey-text);
        margin-bottom: 40px;
      }
    }
  }
}

.logs-llm-modal {
  .modal-dialog {
    text-align: justify;

    h2,
    h3 {
      color: var(--primary);
    }

    .btn {
      background: var(--red-highlight);
      border-radius: 0;
      border: 1px solid var(--red);
    }

    .modal-content {
      border-radius: 0;
    }
  }
}

.logs-container {
  position: relative;

  .log-entry {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 5px 10px;

    i {
      font-size: 1.5em;
    }

    .log-info-block {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .log-info {
        font-weight: 600;
      }

      .log-time {
        font-size: 0.75em;
      }
    }
  }

  .logs-options {
    position: absolute;
    z-index: 2;
    right: 0;
    margin: 10px;

    .logs-options-button {
      background: 0;
      border-radius: 0;
      padding: 5px 10px;
    }
  }
}
